<template>
  <div class="card">
    <div class="card-image">
      <figure class="image is-square">
        <img :src="img" class="image-crop" alt="Placeholder image" />
      </figure>
    </div>
    <div class="card-content p-4">
      <div class="media">
        <div class="media-content has-text-left">
          <div class="columns is-mobile">
            <div class="column">
              <p class="title is-4">
                {{ name }}
              </p>
            </div>
            <div class="column is-narrow">
              <span class="tag is-info">{{ titre }}</span>
            </div>
          </div>

          <p v-if="message !== undefined" class="subtitle is-6">
            {{ message }}
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ["name", "img", "titre", "message"],
  computed: {
    imagePath() {
      return process.env.BASE_URL + "equipe/" + this.image;
    },
  },
};
</script>

<style scoped>
div.card {
  border-radius: 1rem;
}
@media screen and (min-width: 1200px) {
  div.card {
    max-width: 350px;
  }
}

.card-image:first-child img {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.image-crop {
  object-fit: cover;
  object-position: center;
}
</style>
