<template>
  <div class="about">
    <div class="section">
      <div class="container">
        <p class="modal-card-title">Des remarques ?</p>

        <p>
          Rejoignez le groupe matrix pour être tenu des actualités
          <a
            target="_blank"
            href="https://matrix.to/#/!XtBafCknVpoxnNpjEv:emse.fr?via=emse.fr&via=matrix.org&via=carnot.cc"
            >ici</a
          >
        </p>
        <div>
          <b-notification
            v-if="error != ''"
            type="is-danger"
            has-icon
            aria-close-label="Close notification"
            role="alert"
          >
            {{ error }}
          </b-notification>
          <div class="columns">
            <div class="column">
              <b-field label="Nom">
                <b-input v-model="data.user" placeholder="Ton nom"></b-input>
              </b-field>
              <b-field label="Titre">
                <b-input
                  v-model="data.title"
                  placeholder="Un très joli titre"
                ></b-input>
              </b-field>
              <b-field label="Remarque">
                <b-input
                  v-model="data.body"
                  type="textarea"
                  placeholder="Remarque"
                ></b-input>
              </b-field>
            </div>
          </div>

          <footer class="">
            <vue-recaptcha
              sitekey="6LcjU3IeAAAAAIJtpXRVw4psAv4j5btVnpMtxZ9q"
              @verify="onVerify"
              @expired="onExpired"
            >
              <b-button label="Envoyer mon commentaire" type="is-primary" />
            </vue-recaptcha>
          </footer>
          {{ error }}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { VueRecaptcha } from "vue-recaptcha";
export default {
  components: { VueRecaptcha },
  data() {
    return {
      data: {
        user: "",
        title: "",
        body: "",
        type: "rem",
      },
      error: "",
    };
  },
  props: ["cmode"],
  computed: {
    config() {
      return this.$store.state.config;
    },
  },
  methods: {
    onSubmit: function () {
      this.$refs.invisibleRecaptcha.execute();
    },
    onVerify: function (response) {
      this.data.token = response;

      fetch("https://minesterydemo.henri2h.fr/api/remarques", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify(this.data),
      })
        .then((response) => {
          console.log(response);

          return response.json();
        })
        .then((response) => {
          console.log(response);
          if (response.success) {
            this.$router.push("/success");
          } else {
            this.error = response.err;
            this.$buefy.notification.open({
              duration: 5000,
              message: response.err,
              position: "is-bottom-right",
              type: "is-danger",
              hasIcon: true,
            });
          }
        })
        .catch((err) => {
          console.error(err);
          this.error = err;
        });
    },
    onExpired: function () {
      console.log("Expired");
    },
    resetRecaptcha() {
      this.$refs.recaptcha.reset(); // Direct call reset method
    },
  },
};
</script>
