<template>
  <section class="section">
    <h2 class="title">Config</h2>
    <div class="content">
      <o-field
        label="Wrong subject"
        variant="danger"
        message="Selected subject is wrong"
      >
        <o-select v-model="mode" placeholder="Sélectionner un mode de commande">
          <option
            v-for="(element, index) in config"
            v-bind:key="index"
            class="box"
            :value="index"
          >
            {{ index }}
          </option>
        </o-select>
      </o-field>
      <div v-if="config[mode] !== undefined">
        <div class="Activé">
          <o-checkbox v-model="config[mode].enabled">Item actif ?</o-checkbox>
        </div>
        <o-field label="Nom">
          <o-input v-model="config[mode].name"></o-input>
        </o-field>
        <o-field label="Texte de livraison">
          <o-input v-model="config[mode].livraisonText"></o-input>
        </o-field>

        <o-field label="Livraison">
          <o-checkbox v-model="config[mode].livraison"
            >Livraison activée ?</o-checkbox
          >
        </o-field>
        <o-field label="Livraison aix">
          <o-checkbox v-model="config[mode].livraisonAix"
            >Livraison aix activée ?</o-checkbox
          >
        </o-field>
        <section
          class="section"
          v-for="(choice, index) in config[mode].choices"
          v-bind:key="index"
        >
          <div class="card">
            <header class="card-header">
              <p class="card-header-title">{{ choice.name }}</p>
              <button class="card-header-icon" aria-label="more options">
                <span class="tag is-info">
                  {{ index }}
                </span>
              </button>
            </header>
            <div class="card-content">
              <o-field label="Nom">
                <o-input v-model="choice.name"></o-input>
              </o-field>
              <o-field label="Nombre d'élèments max par commandes">
                <o-input type="number" v-model="choice.max"></o-input>
              </o-field>
              <o-button
                variant="danger"
                @click="
                  delItemChoice = index;
                  isConfirmationModalActive = true;
                "
                >Supprimer l'item</o-button
              >
            </div>
          </div>
        </section>

        <o-button @click="isCardModalActive = true" variant="" class="button">
          <strong>Ajouter un élèment</strong>
        </o-button>
      </div>
    </div>

    <vue-recaptcha
      sitekey="6LcjU3IeAAAAAIJtpXRVw4psAv4j5btVnpMtxZ9q"
      @verify="onVerify"
      @expired="onExpired"
    >
      <o-button
        label="Sauvegarder"
        class="is-medium"
        variant="success"
        type="is-primary"
      />
    </vue-recaptcha>

    <o-modal v-model:active="isCardModalActive">
      <div class="modal-card" style="width: auto">
        <header class="modal-card-head">
          <p class="modal-card-title">Ajouter un élèment</p>
          <o-icon
            clickable
            native-type="button"
            icon="times"
            @click="$emit('close')"
          />
        </header>
        <section class="modal-card-body">
          <o-field label="Tag">
            <o-input
              type="text"
              v-model="newItemChoice"
              placeholder="tag"
              required
            >
            </o-input>
          </o-field>
        </section>
        <footer class="modal-card-foot">
          <o-button variant="" @click="isCardModalActive = false"
            >Annuler</o-button
          >
          <o-button variant="success" @click="addItem()">Envoyer</o-button>
        </footer>
      </div>
    </o-modal>

    <o-modal v-model:active="isConfirmationModalActive">
      <div class="modal-card" style="width: auto">
        <header class="modal-card-head">
          <p class="modal-card-title">Supprimer l'élèment</p>
        </header>
        <section class="modal-card-body">
          {{ delItemChoice }}
        </section>
        <footer class="modal-card-foot">
          <o-button variant="" @click="isConfirmationModalActive = false"
            >Annuler</o-button
          >
          <o-button variant="danger" @click="delItem()">Supprimer</o-button>
        </footer>
      </div>
    </o-modal>
  </section>
</template>

<script>
import { VueRecaptcha } from "vue-recaptcha";
export default {
  components: { VueRecaptcha },
  data() {
    return {
      mode: "crepe",
      isCardModalActive: false,
      isConfirmationModalActive: false,
      newItemChoice: "",
      delItemChoice: "",
      data: {
        mpdi: "",
        user: "",
        title: "",
        body: "",
        type: "rem",
      },
      error: "",
    };
  },
  props: ["token"],
  computed: {
    config() {
      return this.$store.state.config;
    },
  },
  methods: {
    onSubmit: function () {
      this.$refs.invisibleRecaptcha.execute();
    },
    onVerify: function (response) {
      var data = {
        config: this.config,
        config_token: this.token,
        token: response,
      };
      fetch("https://minesterydemo.henri2h.fr/api/config", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify(data),
      })
        .then((response) => {
          console.log(response);
          return response.json();
        })
        .then((response) => {
          console.log(response);
          if (!response.success) {
            this.error = response.err;
            this.$oruga.notification.open({
              duration: 5000,
              message: response.err,
              position: "is-bottom-right",
              type: "is-danger",
              hasIcon: true,
            });
          }
        })
        .catch((err) => {
          console.error(err);
          this.error = err;
        });
    },
    onExpired: function () {
      console.log("Expired");
    },
    resetRecaptcha() {
      this.$refs.recaptcha.reset(); // Direct call reset method
    },
    addItem() {
      this.config[this.mode].choices[this.newItemChoice] = {
        name: this.newItemChoice,
      };
      this.isCardModalActive = false;
    },
    delItem() {
      if (this.delItemChoice) {
        delete this.config[this.mode].choices[this.delItemChoice];
        this.delItemChoice = "";
        this.isConfirmationModalActive = false;
      }
    },
  },
};
</script>
