<template>
  <div class="home">
    <section class="hero is-warning is-medium">
      <div class="hero-body has-text-white">
        <div class="container has-text-centered">
          <p class="title">Commande ta crêpe</p>
          <br />
          <p class="subtitle">
            Le
            <span class="truc-cheum-wrapper"
              ><del>site numéro 1</del
              ><span class="truc-cheum">premier site</span></span
            >
            de commande de crêpes de l'ISMIN
          </p>
        </div>
      </div>
    </section>

    <section class="section">
      <div class="container">
        <div class="columns">
          <div class="column has-text-centered">
            <o-button
              tag="router-link"
              to="/order_type/astronomines"
              variant="info"
              class="button is-large"
            >
              <strong>АстронoМины💫</strong>
            </o-button>
          </div>
          <div class="column has-text-centered">
            <o-button
              tag="router-link"
              to="/order_type/rand"
              variant="warning"
              class="button is-large has-text-white"
            >
              <strong>Random</strong>
            </o-button>
          </div>
          <div class="column has-text-centered">
            <o-button
              @click="isCardModalActive = true"
              variant="danger"
              class="button is-large"
            >
              <strong>Min'verick </strong>
            </o-button>
          </div>
        </div>
      </div>
    </section>

    <section class="section is-info">
      <div class="container" v-if="config.listes !== undefined">
        <nav class="level">
          <div class="level-item">
            <div class="has-text-centered">
              <p class="heading">АстронoМины💫</p>
              <p class="title">{{ config.listes["astronomines"] }}</p>
            </div>
          </div>
          <div class="level-item has-text-centered">
            <p class="title">VS</p>
          </div>
          <div class="level-item">
            <div class="has-text-centered">
              <p class="heading">Min'verick</p>
              <p class="title">{{ config.listes["minesverick"] }}</p>
            </div>
          </div>
        </nav>
      </div>
    </section>
    <o-modal v-model:active="isCardModalActive">
      <o-notification variant="warning" title="Oups">
        Réservation désactivée à la demande de la liste.
      </o-notification>
    </o-modal>
    <LeaderBoard />
    <TeamCard />
  </div>
</template>

<script>
import LeaderBoard from "../components/LeaderBoard.vue";
import TeamCard from "../components/TeamCard.vue";
export default {
  name: "HomePage",
  components: { TeamCard, LeaderBoard },
  data() {
    return {
      isCardModalActive: false,
    };
  },
  computed: {
    config() {
      return this.$store.state.config;
    },
  },
};
</script>
<style scoped>
.title {
  font-size: 4rem;
  color: black;
}
.subtitle {
  font-size: 2em;
  color: black;
}
.section-title {
  font-size: 3.5rem;
  color: black;
}

.test {
  background-color: #000;
  content: white;
}

.text {
  font-family: "Courier New", Courier, monospace;
}

.rounded {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

span.truc-cheum-wrapper {
  position: relative;
}

span.truc-cheum {
  font-size: 1.7rem;
  font-family: "Brush Script MT", "Courier New", serif;
  font-weight: 900;
  letter-spacing: 1px;
  transform: rotate(-30deg) translateY(50%) scale(150%);
  color: red;
  position: absolute;
  left: -1px;
  top: -50%;
  display: block;
  overflow: visible;
  white-space: nowrap;
  -webkit-text-stroke: 1.5px yellow;
}
</style>
