<template>
  <div class="section">
    <div class="hero is-fullheight"></div>
    <div class="hero is-halfheight"></div>
    <div class="content">
      <p>Il n'y a pas grand chose ici mines de rien</p>
    </div>
  </div>
</template>
