<template>
  <div>
    <b-notification
      v-if="err != ''"
      type="is-danger"
      has-icon
      aria-close-label="Close notification"
      role="alert"
    >
      {{ err }}
    </b-notification>
    <b-notification v-if="loading" type="is-info" has-icon>
      Loading
    </b-notification>
    <b-notification v-else type="is-success" has-icon>
      Up to date
    </b-notification>
    <nav class="level section">
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Last update</p>
          <p class="title">{{ lastUpdate }}</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Lasagne</p>
          <p class="title">{{ count.lasagne }}</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Lasagne vege</p>
          <p class="title">{{ count.lasagne_vege }}</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Total kebab</p>
          <p class="title">{{ count.type.kebab }}</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Click viande</p>
          <p class="title">{{ count.click_viande }}</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Click vege</p>
          <p class="title">{{ count.click_vege }}</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Click total</p>
          <p class="title">{{ count.click_vege + count.click_viande }}</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Nombre de commandes</p>
          <p class="title">{{ count.commandTotal }}</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Nombre d'élements commandés</p>
          <p class="title">{{ count.commandItemTotal }}</p>
        </div>
      </div>
    </nav>

    <b-field label="Affichage de tous les élements ?">
      <b-switch v-model="all" size="is-medium">
        <div v-if="all">Affichage de tout</div>
        <div v-else>Les dernières commandes</div></b-switch
      >
    </b-field>

    <b-table
      :data="orders"
      :debounce-search="100"
      mobile-cards
      scrollable
      class="mb-1"
      style="min-height: 80vh;"
    >
      <b-table-column field="time" label="Time" sortable numeric v-slot="props">
        {{ getDate(props.row.time) }}
        <br />
        <span class="tag is-success">
          {{ getTime(props.row.time) }}
        </span>
      </b-table-column>
      <b-table-column
        field="delevery_date"
        label="Delivery date"
        numeric
        sortable
        v-slot="props"
      >
        <div
          v-if="
            props.row.delevery_date != 'now' &&
              props.row.delevery_date != undefined
          "
        >
          {{ getDate(props.row.delevery_date) }}
          <br />
          <span class="tag is-success">
            {{ getTime(props.row.delevery_date) }}
          </span>
        </div>
        <div v-else>
          <span class="tag is-danger">
            maintenant
          </span>
        </div>
      </b-table-column>
      <b-table-column
        field="display_name"
        label="Name"
        v-slot="props"
        sortable
        searchable
      >
        <p>{{ props.row.display_name }}</p>
      </b-table-column>

      <b-table-column field="crepe" label="Crepe" v-slot="props" width="100px">
        <b-field grouped group-multiline>
          <div
            v-for="(element, index) in JSON.parse(props.row.crepe)"
            v-bind:key="index"
            class="control"
          >
            <b-taglist attached class="p-1" v-if="element != 0">
              <b-tag type="is-dark" size="is-medium">{{ index }}</b-tag>
              <b-tag type="is-info" size="is-medium">{{ element }}</b-tag>
            </b-taglist>
          </div>
        </b-field>
      </b-table-column>
      <b-table-column
        field="adresse"
        label="Adresse"
        v-slot="props"
        searchable
        sortable
      >
        <p>
          {{ props.row.addresse }}
        </p>
      </b-table-column>
      <b-table-column field="contact" label="Contact" v-slot="props" searchable>
        <p>{{ props.row.contact }}</p>
      </b-table-column>

      <b-table-column
        field="remarque"
        label="Remarque"
        v-slot="props"
        searchable
      >
        <p>{{ props.row.remarque }}</p>
      </b-table-column>
      <b-table-column
        field="Type"
        label="Command type"
        v-slot="props"
        sortable
        searchable
      >
        <b-tag
          type="is-success"
          size="is-medium"
          v-if="props.row.command_type === 'crepe'"
          >crepe</b-tag
        >
        <b-tag
          type="is-warning"
          size="is-medium"
          v-else-if="props.row.command_type === 'lasagne'"
          >lasagne</b-tag
        >
        <b-tag
          type="is-info"
          size="is-medium"
          v-else-if="props.row.command_type === 'click'"
          >click</b-tag
        >
        <b-tag type="is-black" size="is-medium" v-else>{{
          props.row.command_type
        }}</b-tag>
      </b-table-column>

      <b-table-column
        field="livraison"
        label="Livraison"
        v-slot="props"
        sortable
      >
        <b-tag type="is-info" size="is-medium" v-if="props.row.livraison == '0'"
          >Sur place</b-tag
        >
        <b-tag
          type="is-success"
          size="is-medium"
          v-else-if="props.row.livraison == '1'"
          >Livré</b-tag
        >
        <p v-else>{{ props.row.livraison }}</p>
      </b-table-column>
      <b-table-column
        field="livraison_aix"
        label="Livraison Aix"
        v-slot="props"
        sortable
      >
        <b-tag
          type="is-success"
          size="is-medium"
          v-if="props.row.livraison_aix == 0"
          >A la REZ</b-tag
        >
        <b-tag
          type="is-info"
          size="is-medium"
          v-else-if="props.row.livraison_aix == 1"
          >Livraison AIX</b-tag
        >
        <p v-else>{{ props.row.livraison_aix }}</p>
      </b-table-column>
      <b-table-column field="sender" label="Sender" v-slot="props" sortable>
        <p>{{ props.row.sender }}</p>
      </b-table-column>
      <b-table-column
        field="quantity"
        label="Quantity"
        v-slot="props"
        numeric
        sortable
        width="40"
      >
        {{ props.row.quantity }}
      </b-table-column>
      <b-table-column field="status" label="Status" v-slot="props" sortable>
        <b-select
          v-model="props.row.order_status"
          v-on:input="selected(props.row)"
        >
          <option value="sent">A traiter</option>
          <option value="processing">Traitement</option>
          <option value="flight">Livré</option>
        </b-select>
        <b-field>
          <b-tag
            type="is-danger"
            size="is-medium"
            v-if="props.row.order_status == 'sent'"
            >A traiter</b-tag
          >
          <b-tag
            type="is-warning"
            size="is-medium"
            v-if="props.row.order_status == 'processing'"
            >Traitement</b-tag
          >
          <b-tag
            type="is-success"
            size="is-medium"
            v-if="props.row.order_status == 'flight'"
            >Livré</b-tag
          >
        </b-field>
      </b-table-column>
    </b-table>

    <div class="section has-background-black ">
      <div class="content">
        <h2 class="title has-text-white">Allez courage !!!</h2>
      </div>
    </div>

    <audio id="my_audio" class="is-hidden" controls>
      <source src="~@/assets/light.mp3" type="audio/mpeg" />
    </audio>
  </div>
</template>

<script>
const moment = require('moment')

export default {
  data () {
    return {
      orders: [],
      count: {},
      commandTotal: 0,
      commandItemTotal: 0,
      err: '',
      loading: false,
      last_command: '',
      lastUpdate: '',
      all: false,
      columns: [
        { field: 'time', label: 'Timestamp', width: '40', numeric: true },
        { field: 'display_name', label: 'Name', numeric: false },
        { field: 'crepe', label: 'Crepe', numeric: false },
        { field: 'remarque', label: 'Remarque', numeric: false },
        { field: 'contact', label: 'Contact', numeric: false },
        { field: 'addresse', label: 'Adresse', numeric: false },
        { field: 'order_status', label: 'Order satus', numeric: false }
      ]
    }
  },
  props: ['token'],
  mounted () {
    console.log(this.token)
    if (this.token !== undefined) {
      this.getOrders()
      this.startTimer()
    }
  },
  methods: {
    getDate (date) {
      return moment(date).fromNow()
    },
    getTime (date) {
      return moment(date).format('MMMM Do YYYY, hh:mm:ss')
    },
    selected (event) {
      console.log(event)
      fetch('https://minesterydemo.henri2h.fr/orders', {
        method: 'PUT',
        headers: {
          Accept: 'application/json',
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          token: this.token,
          id: event.id,
          order_status: event.order_status
        })
      })
        .then(response => {
          return response.json()
        })
        .then(result => {
          console.log(result)
          if (result.success) {
            console.log(result)
          } else this.err = result.err

          this.loading = false
        })
        .catch(err => {
          console.error(err)
          this.loading = false
        })
    },
    getOrders () {
      this.loading = true
      fetch('https://minesterydemo.henri2h.fr/orders', {
        method: 'POST',
        headers: {
          Accept: 'application/json',
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          token: this.token,
          all: this.all
        })
      })
        .then(response => {
          return response.json()
        })
        .then(result => {
          console.log(result)
          if (result.success) {
            var tmpOrders = result.result.reverse()
            this.lastUpdate = this.getTime(new Date())

            this.orders = tmpOrders
            if (result.count) this.count = result.count // count

            this.commandItemTotal = 0
            this.commandTotal = 0

            if (tmpOrders.length > 0 && tmpOrders[0].id !== this.last_command) {
              if (this.last_command !== '') {
                document.getElementById('my_audio').play()
              }

              this.last_command = tmpOrders[0].id
            }
          } else {
            this.err = result.err
            this.$buefy.notification.open({
              duration: 4000,
              message: 'Refresh failed',
              position: 'is-bottom-right',
              type: 'is-danger',
              hasIcon: true
            })
          }

          this.loading = false
        })
        .catch(err => {
          console.error(err)
          this.loading = false
        })
    },
    startTimer () {
      this.timerInterval = setInterval(() => {
        this.getOrders()
      }, 10000)
    }
  }
}
</script>

<style scoped>
p {
  word-break: break-all;
  max-width: 250px;
}
</style>
