<template>
  <div class="about">
    <div class="section">
      <div class="chart-container" v-if="cmode === 'kebab'">
        <canvas id="chart"></canvas>
      </div>
      <div class="content">
        <p class="modal-card-title">Commander des {{ cmode }}s</p>
        <div class="notification is-success" v-if="liste == 'astronomines'">
          <strong>Chez АстронoМины💫</strong>
        </div>
        <div class="notification is-success" v-if="liste == 'minesverick'">
          <strong>Chez Min'verick </strong>
        </div>
        <div>
          <o-notification
            v-if="error !== ''"
            variant="danger"
            has-icon
            aria-close-label="Close notification"
            role="alert"
          >
            {{ error }}
          </o-notification>
          <div class="columns">
            <div class="column">
              <o-field label="Nom">
                <o-input v-model="user"></o-input>
              </o-field>
              <div class="box p-5 my-5">
                <o-field
                  label="Livrée où sur place ?"
                  v-if="config[cmode].livraison"
                >
                  <o-switch v-model="livraison" size="is-medium"
                    ><div v-if="livraison">Livrée</div>
                    <div v-else>Je passe le récuperer moi même.</div></o-switch
                  >
                </o-field>
                <o-field
                  label="Livraison à la REZ ou AIX ?"
                  v-if="config[cmode].livraisonAix && livraison"
                >
                  <o-switch v-model="gardanne" size="is-medium"
                    ><div v-if="gardanne && config[cmode].livraison">
                      Livrée à la rez
                    </div>
                    <div v-else-if="gardanne">
                      {{ config[cmode].livraisonText }}
                    </div>
                    <div v-else>Livraison aix</div></o-switch
                  >
                </o-field>
                <o-field
                  label="Adresse"
                  v-if="(config[cmode].livraison && livraison) || !gardanne"
                >
                  <o-input v-model="addresse"></o-input>
                </o-field>
              </div>

              <o-field label="Remarques">
                <o-input v-model="remarque" type="textarea"></o-input>
              </o-field>
            </div>
            <div class="column" v-if="cmode === 'lasagne'">
              <div class="card">
                <header class="card-header">
                  <p class="card-header-title">Component payants</p>
                </header>
                <div class="card-content">
                  <div class="content">
                    <div
                      v-for="(element, index) in item.choices"
                      v-bind:key="index"
                    >
                      <o-field :label="getTitle(element)">
                        <o-numberinput
                          v-model="element.count"
                          placeholder="0"
                          :min="0"
                          :max="10"
                        ></o-numberinput>
                      </o-field>
                    </div>
                  </div>
                </div>
                <footer class="card-footer">
                  <p class="card-footer-item">
                    <strong>{{ cost }} euros</strong>
                  </p>
                </footer>
              </div>
            </div>
            <div class="column" v-else-if="cmode === 'kebab'">
              <o-notification
                variant="danger"
                aria-close-label="Close notification"
                v-if="!isUnique"
              >
                Vous ne pouvez commander qu'un seul type de pancakes ou de
                gaufres
              </o-notification>
              <div>
                <div class="card">
                  <header class="card-header">
                    <p class="card-header-title">
                      {{ config[cmode].name }}
                    </p>
                  </header>

                  <div class="card-content">
                    <div class="content">
                      <div class="columns">
                        <section class="column">
                          <o-field
                            v-for="(choice, c_index) in config[cmode].choices"
                            v-bind:key="c_index"
                          >
                            <o-checkbox v-model="choice.count">
                              {{ choice.name }}

                              <small v-if="choice.unique && !isUnique"
                                >Au choix (un seul élement de chaque type)
                                {{ unique }}</small
                              >
                            </o-checkbox>
                          </o-field>

                          <o-field label="Boisson">
                            <o-select
                              placeholder="Selectionnez une boisson"
                              v-model="boisson"
                            >
                              <option
                                v-for="index in Object.keys(
                                  config[cmode].boissons
                                )"
                                :value="index"
                                :key="index"
                              >
                                {{ config[cmode].boissons[index].name }}
                              </option>
                            </o-select>
                          </o-field>
                        </section>
                        <div class="column">
                          <o-field
                            label="Sauces"
                            v-for="pos in [0, 1]"
                            v-bind:key="pos"
                          >
                            <o-select
                              placeholder="Selectionnez une sauce"
                              v-model="kebab_sauce[pos]"
                            >
                              <option
                                v-for="index in Object.keys(config.kebab.sauce)"
                                :value="index"
                                :key="index"
                              >
                                {{ config.kebab.sauce[index].name }}
                              </option>
                            </o-select>
                          </o-field>
                        </div>
                      </div>
                    </div>
                  </div>
                  <footer class="card-footer">
                    <p class="card-footer-item">5 euros</p>
                  </footer>
                </div>
              </div>
            </div>
            <div class="column" v-else>
              <div class="card">
                <header class="card-header">
                  <p class="card-header-title">
                    {{ config[cmode].name }}
                  </p>
                </header>

                <div class="card-content">
                  <div class="content">
                    <div
                      v-for="(element, index) in config[cmode].choices"
                      v-bind:key="index"
                    >
                      <o-field
                        :label="element.name"
                        v-model="element.count"
                        class="my-4"
                      >
                        <o-button
                          :disabled="element.count == 0"
                          variant="info"
                          @click="element.count -= 1"
                          >-</o-button
                        >
                        <o-input
                          v-if="!element.check"
                          type="number"
                          placeholder="0"
                          v-model="element.count"
                          :min="0"
                          :max="10"
                        ></o-input>

                        <o-button
                          :disabled="element.count == 10"
                          variant="info"
                          @click="element.count += 1"
                          >+</o-button
                        >
                      </o-field>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <o-field
            label="Vous le voulez quand ?"
            v-if="gardanne && !config[cmode].later"
          >
            <o-switch v-model="now" size="is-medium">
              <div v-if="now">Maintenant</div>
              <div v-else>Plus tard</div></o-switch
            >
          </o-field>
          <o-notification variant="info" v-if="!gardanne">
            Pour les livraison sur AIX les horaires de livraisons ne seront pas
            forcement respectés.
          </o-notification>
          <div
            v-if="(!now && (!livraison || gardanne)) || config[cmode].later"
            class="p-4"
          >
            <h2>Ok, pour quelle date ?</h2>
            <o-field label="Heure de livraison">
              <o-datetimepicker
                v-model="delevery_date"
                hour-format="24"
                inline
                :min-datetime="minDate"
                :max-datetime="maxDate"
                locale="fr-FR"
              ></o-datetimepicker>
            </o-field>
          </div>

          <footer class="">
            <o-notification
              variant="danger"
              aria-close-label="Close notification"
              v-if="!isUnique"
            >
              Vous ne pouvez commander qu'un seul type de pancakes ou de gaufres
            </o-notification>
            <vue-recaptcha
              class="py-4"
              v-else
              sitekey="6LcjU3IeAAAAAIJtpXRVw4psAv4j5btVnpMtxZ9q"
              @verify="onVerify"
              @expired="onExpired"
            >
              <o-button label="Commander" variant="primary" class="is-large" />
            </vue-recaptcha>
          </footer>
          {{ error }}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { VueRecaptcha } from "vue-recaptcha";
import { Chart } from "chart.js";

export default {
  components: { VueRecaptcha },
  data() {
    return {
      chart: null,
      addresse: "",
      isFrench: true,
      user: "",
      boisson: null,
      kebab_sauce: {},
      boissons: {
        the: {
          name: "Thé",
          cost: 0,
          count: 0,
        },
        cafe: {
          name: "Cafe",
          cost: 0,
          count: 0,
        },
        jus_orange: {
          name: "Jus d'orange",
          cost: 0,
          count: 0,
        },
        lait_chocolat_chaud: {
          name: "Chocolat au lait chaud",
          cost: 0,
          count: 0,
        },
        lait_chocolat_froid: {
          name: "Chocolat au lait froid",
          cost: 0,
          count: 0,
        },
      },
      dej: {
        enabled: false,
        fr: {
          name: "Petit déjeuner français",
          choices: {
            toast: {
              name: "Toast",
              count: true,
            },

            gaufre_nature: {
              name: "Gaufre nature",
              unique: true,
              count: true,
            },
            gaufre_nutella: {
              name: "Gaufre nutella",
              count: 0,
              unique: 0,
            },
            gaufre_sucre: {
              name: "Gaufre sucre",
              unique: true,
              count: 0,
            },
            gaufre_confiture_fraise: {
              name: "Gaufre confiture fraise",
              unique: true,
              count: 0,
            },
            compote: {
              name: "Compote",
              count: 0,
            },
          },
        },
        en: {
          name: "Petit déjeuner anglais",
          choices: {
            bacon: {
              name: "Bacon",
              cost: 0,
              count: 0,
            },

            pancakes_nutella: {
              name: "Pancakes nutella",
              count: 0,
              unique: true,
            },
            pancakes_de_marron: {
              name: "Pancakes crême de marron",
              count: 0,
              unique: true,
            },
            pancakes_caramel: {
              name: "Pancakes caramel",
              count: 0,
              unique: true,
            },
            oeuf_brouille: {
              name: "Oeuf brouillé",
              count: true,
            },
          },
        },
      },
      livraison: true,
      gardanne: true,
      now: true,
      remarque: "",
      contact: "",
      delevery_date: new Date(),
      error: "",
    };
  },
  props: ["cmode", "listeIn"],
  computed: {
    item() {
      console.log(this.liste);

      return this.config[this.cmode];
    },
    liste() {
      var listein = this.listeIn;

      if (listein === "rand") {
        var pos = Math.floor(Math.random() * 1); // minesverick désactivé
        listein = ["astronomines", "minesverick"][pos];
      }
      return listein;
    },
    config() {
      return this.$store.state.config;
    },
    minDate: function () {
      // console.log(this.item)
      if (this.item === undefined) return new Date();
      const minDate = this.item.minDate;
      if (new Date().getTime() < minDate) {
        return new Date(minDate);
      }
      return new Date();
    },
    maxDate: function () {
      if (this.item === undefined) return new Date();
      return new Date(this.item.maxDate);
    },
    cost: function () {
      var costTotal = 0;
      for (const pos in this.item.choices) {
        costTotal += this.item.choices[pos].count * this.item.choices[pos].cost;
      }
      return costTotal;
    },
    isUnique: function () {
      var hasUnique = false;
      if (this.cmode === "dej") {
        if (this.isFrench) {
          var sData = this.dej.fr.choices;
          for (const key in sData) {
            if (sData[key].count && sData[key].unique) {
              if (!hasUnique) hasUnique = true;
              else return false;
            }
          }
        } else {
          sData = this.dej.en.choices;

          for (const key in sData) {
            if (sData[key].count && sData[key].unique) {
              if (!hasUnique) hasUnique = true;
              else return false;
            }
          }
        }
      } else {
        const sData = this.config[this.cmode].choices;

        for (const key in sData) {
          if (sData[key].count && sData[key].unique) {
            if (!hasUnique) hasUnique = true;
            else return false;
          }
        }
      }
      return true;
    },
  },
  mounted() {
    this.delevery_date = this.minDate;
    this.loadPlot();
  },
  methods: {
    getTitle: function (other) {
      return other.name + " (" + other.cost + " euros pièces )";
    },
    loadPlot: function () {
      var elem = document.getElementById("chart");
      if (this.cmode === "kebab") {
        fetch("https://minesterydemo.henri2h.fr/api/aff", {
          method: "GET",
        })
          .then((response) => {
            return response.json();
          })
          .then((response) => {
            if (response.success) {
              var data = {
                labels: [],
                datasets: [
                  {
                    label: "Demande",
                    backgroundColor: "rgba(255,99,132,0.2)",
                    borderColor: "rgba(255,99,132,1)",
                    borderWidth: 2,
                    hoverBackgroundColor: "rgba(255,99,132,0.4)",
                    hoverBorderColor: "rgba(255,99,132,1)",
                    data: [],
                  },
                  {
                    label: "Capacité de production max",
                    data: [],

                    // Changes this dataset to become a line
                    type: "line",
                  },
                ],
              };
              var count = response.count.kebab;
              for (const key in count) {
                var t = parseInt(key);
                if (t > 1614154620000) {
                  data.labels.push(new Date(t));
                  data.datasets[0].data.push(count[key]);
                  if (
                    this.cmode !== undefined &&
                    this.config !== undefined &&
                    this.config.maxAff !== undefined &&
                    this.config.maxAff[this.cmode] !== undefined
                  ) {
                    data.datasets[1].data.push(this.config.maxAff[this.cmode]);
                  }
                }
              }
              var options = {
                maintainAspectRatio: false,
                scales: {
                  yAxes: [
                    {
                      stacked: true,
                      gridLines: {
                        display: true,
                        color: "rgba(255,99,132,0.2)",
                      },
                    },
                  ],
                  xAxes: [
                    {
                      type: "time",
                      distribution: "series",
                      time: {
                        displayFormats: {
                          minute: "HH:mm",
                          hour: "HH:mm",
                        },
                      },
                      gridLines: {
                        display: false,
                      },
                    },
                  ],
                },
              };

              Chart.Bar(elem, {
                options: options,
                data: data,
              });
            } else {
              this.error = response.err;
              this.$oruga.notification.open({
                duration: 5000,
                message: response.err,
                position: "bottom-right",
                variant: "danger",
                hasIcon: true,
              });
            }
          })
          .catch((err) => {
            console.error(err);
            this.error = err;
          });
      }
    },
    onSubmit: function () {
      this.$refs.invisibleRecaptcha.execute();
    },
    onVerify: function (response) {
      var data = {
        crepe: {},

        remarque: this.remarque,
        contact: this.contact,
        token: response,
        addresse: this.addresse,
        user: this.user,
        type: this.cmode,
        livraison: this.livraison ? 1 : 0,
        livraison_aix: !this.gardanne ? 1 : 0,
        command_type: this.cmode,
      };
      if (
        !this.livraison ||
        (!this.config[this.cmode].livraison && this.gardanne)
      ) {
        data.addresse = "sur place";
      }

      // sanity checks on delevery
      if (!this.config[this.cmode].livraison) data.livraison = 0;
      if (!this.config[this.cmode].livraisonAix) data.livraison_aix = 0;
      if (this.config[this.cmode].livraisonAix && !this.gardanne) {
        data.livraison = 1;
      }

      if (this.cmode === "kebab") {
        for (const key in this.kebab_sauce) {
          if (
            this.kebab_sauce[key] != null &&
            this.kebab_sauce[key] !== undefined &&
            this.kebab_sauce[key] !== "none"
          ) {
            data.crepe[this.kebab_sauce[key]] = 1;
          }
        }
      }

      if (this.boisson !== null) data.crepe[this.boisson] = 1;

      // adding orders

      const commandes = this.config[this.cmode];
      for (const key in commandes.choices) {
        if (commandes.choices[key].count > 0) {
          data.crepe[key] = commandes.choices[key].count;
        } else if (commandes.choices[key].count) {
          // for true value
          data.crepe[key] = 1;
        }
      }

      if (!this.now || this.config[this.cmode].later) {
        data.delevery_date = this.delevery_date.getTime();
      } else {
        data.delevery_date = new Date().getTime();
      }

      data.liste = this.liste;

      fetch("https://minesterydemo.henri2h.fr/order", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify(data),
      })
        .then((response) => {
          console.log(response);

          return response.json();
        })
        .then((response) => {
          console.log(response);
          if (response.success) {
            this.$router.push("/success");
          } else {
            this.error = response.err;
            this.$oruga.notification.open({
              duration: 5000,
              message: response.err,
              position: "bottom-right",
              variant: "danger",
              hasIcon: true,
            });
          }
        })
        .catch((err) => {
          console.error(err);
          this.error = err;
        });
    },
    onExpired: function () {
      console.log("Expired");
    },
    resetRecaptcha() {
      this.$refs.recaptcha.reset(); // Direct call reset method
    },
  },
};
</script>

<style scoped>
.chart-container {
  position: relative;
  margin: auto;
  height: 400px;
  width: 80vw;
}
</style>
