<template>
  <div class="about">
    <div class="section">
      <div class="content">
        <b-notification
          v-if="error !== ''"
          type="is-danger"
          has-icon
          aria-close-label="Close notification"
          role="alert"
        >
          {{ error }}
        </b-notification>
      </div>
      <div class="chart-container">
        <canvas id="chartItem"></canvas>
      </div>

      <div if="count != null && total != null">
        <nav class="level section">
          <div class="level-item has-text-centered">
            <div>
              <p class="heading">Lasagne</p>
              <p class="title">{{ total.lasagne }}</p>
            </div>
          </div>
          <div class="level-item has-text-centered">
            <div>
              <p class="heading">Lasagne vege</p>
              <p class="title">{{ total.lasagne_vege }}</p>
            </div>
          </div>
          <div class="level-item has-text-centered">
            <div>
              <p class="heading">Total kebab</p>
              <p class="title">{{ total.type.kebab }}</p>
            </div>
          </div>
          <div class="level-item has-text-centered">
            <div>
              <p class="heading">Click viande</p>
              <p class="title">{{ total.click_viande }}</p>
            </div>
          </div>
          <div class="level-item has-text-centered">
            <div>
              <p class="heading">Click vege</p>
              <p class="title">{{ total.click_vege }}</p>
            </div>
          </div>
          <div class="level-item has-text-centered">
            <div>
              <p class="heading">Click total</p>
              <p class="title">{{ total.click_vege + total.click_viande }}</p>
            </div>
          </div>
          <div class="level-item has-text-centered">
            <div>
              <p class="heading">Nombre de commandes</p>
              <p class="title">{{ total.commandTotal }}</p>
            </div>
          </div>
          <div class="level-item has-text-centered">
            <div>
              <p class="heading">Nombre d'élements commandés</p>
              <p class="title">{{ total.commandItemTotal }}</p>
            </div>
          </div>
        </nav>

        {{ count }}
        {{ total }}
      </div>
    </div>
  </div>
</template>

<script>
import { Chart } from "chart.js";

export default {
  components: {},
  data() {
    return {
      chart: null,
      count: null,
      total: null,
      error: "",
    };
  },
  computed: {
    config() {
      return this.$store.state.config;
    },
  },
  mounted() {
    this.loadPlot();
  },
  methods: {
    roundDate: function (date, modulo) {
      var d = new Date(date);
      var trunc = d.getMinutes();
      d.setMinutes(trunc - (trunc % modulo));
      d.setSeconds(0);
      d.setMilliseconds(0);
      return d.getTime();
    },

    loadPlot: function () {
      var elem = document.getElementById("chartItem");
      alert(elem);
      fetch("https://minesterydemo.henri2h.fr/api/aff", {
        method: "GET",
      })
        .then((response) => {
          return response.json();
        })
        .then((response) => {
          if (response.success) {
            this.count = response.count;
            this.total = response.total;

            var dataChart = {
              labels: [],
              datasets: [
                {
                  label: "Demande",
                  backgroundColor: "rgba(255,99,132,0.2)",
                  borderColor: "rgba(255,99,132,1)",
                  borderWidth: 2,
                  hoverBackgroundColor: "rgba(255,99,132,0.4)",
                  hoverBorderColor: "rgba(255,99,132,1)",
                  data: [],
                },
              ],
            };
            var count = response.count;
            console.log(count.crepe);
            var i = 0;
            for (const key in count.crepe) {
              var t = parseInt(key);

              if (isNaN(t) || i > 50) continue;
              console.log(key + " : " + t + " : " + count.crepe[key]);

              // dataChart.labels.push(this.roundDate(new Date(t), 40))
              dataChart.labels.push(new Date(t));
              dataChart.datasets[0].data.push(count.crepe[key]);
              i++;
            }
            var options = {
              maintainAspectRatio: false,
              scales: {
                yAxes: [
                  {
                    stacked: true,
                    gridLines: {
                      display: false,
                      color: "rgba(255,99,132,0.2)",
                    },
                  },
                ],
                xAxes: [
                  {
                    type: "time",
                    distribution: "series",
                    time: {
                      displayFormats: {
                        minute: "HH:mm",
                        hour: "HH:mm",
                      },
                    },
                    gridLines: {
                      display: false,
                    },
                  },
                ],
              },
            };

            Chart.Bar(elem, {
              options: options,
              data: dataChart,
            });
          } else {
            this.error = response.err;
            this.$buefy.notification.open({
              duration: 5000,
              message: response.err,
              position: "is-bottom-right",
              type: "is-danger",
              hasIcon: true,
            });
          }
        })
        .catch((err) => {
          console.error(err);
          this.error = err;
        });
    },
  },
};
</script>

<style scoped>
.chart-container {
  position: relative;
  margin: auto;
  height: 400px;
  width: 80vw;
}
</style>
