<template>
  <section class="section">
    <div class="content">
      <h2 class="title">Merci pour votre commande ;)</h2>

      <o-button tag="router-link" to="/" type="is-info">
        Go back to home page
      </o-button>
    </div>
  </section>
</template>
