<template>
  <div class="card">
    <div class="card-image">
      <figure class="image">
        <img :src="img" alt="Placeholder image" />
      </figure>
    </div>
    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <figure class="image is-48x48">
            <img :src="imgMin" alt="Placeholder image" />
          </figure>
        </div>
        <div class="media-content">
          <p class="title is-3">{{ title }}</p>
        </div>
      </div>
      <div class="content">
        {{ mdt }}
      </div>

      <div class="content" v-if="bot">
        Vous voulez commander une crêpe ? Envoyez nous un message ;)
        <a
          href="https://app.element.io/#/user/@minestery_bot:carnot.cc"
          target="_blank"
          >@minestery_bot:carnot.cc</a
        >
      </div>
      <b-button
        tag="router-link"
        :to="{ path: path }"
        :label="buttonText"
        type="is-primary"
        size="is-medium"
        v-if="enabled"
      />
      <div class="field p-1">
        <div class="buttons is-centered">
          <b-button
            type="is-success"
            href="https://app.element.io/#/user/@minestery_bot:carnot.cc"
            target="_blank"
            tag="a"
            v-if="bot && enabled"
            >Commander une crêpeeeeee avec le BOT</b-button
          >
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>
.card {
  border-radius: 25px;
}
</style>

<script>
export default {
  props: [
    'enabled',
    'mdt',
    'img',
    'imgMin',
    'href',
    'path',
    'title',
    'bot',
    'buttonText'
  ]
}
</script>
