<template>
  <div class="">
    <div class="columns">
      <div class="column">
        <EventCard
          style="max-width:400px"
          :enabled="config.crepe.enabled"
          title="Crêpe party ?"
          mdt="Vous voulez une crêpe ?"
          :bot="true"
          path="/order/crepe"
          buttonText="Commander une crêpe"
          :img="require('@/assets/img/crepe.jpeg')"
          :imgMin="require('@/assets/img/crepe.svg')"
        />
      </div>
      <div class="column">
        <EventCard
          style="max-width:400px"
          :enabled="config.click.enabled"
          :title="config.click.name"
          mdt="Un super repas de liste"
          :bot="false"
          path="/order/click"
          buttonText="Reserver le repas de liste"
          :img="require('@/assets/logo_white.png')"
          :imgMin="require('@/assets/img/meal.png')"
        />
      </div>
      <div class="column">
        <EventCard
          style="max-width:400px"
          :enabled="config.lasagne.enabled"
          :title="config.lasagne.name"
          mdt="Les meilleures lasagnes de l'ISMIN"
          :bot="false"
          path="/order/lasagne"
          buttonText="Commander des lasagnes"
          :img="require('@/assets/img/lasagne.jpeg')"
          :imgMin="require('@/assets/img/lasagne.png')"
        />
      </div>
    </div>
    <div class="columns is-vcentered">
      <div class="column">
        <EventCard
          style="max-width:400px"
          :enabled="config.kebab.enabled"
          :title="config.kebab.name"
          mdt="Vous voulez un kebab ?"
          :bot="false"
          path="/order/kebab"
          buttonText="Commander un kebab"
          :img="require('@/assets/img/kebab.jpeg')"
          :imgMin="require('@/assets/img/kebab.png')"
        />
      </div>

      <div class="column">
        <EventCardDej style="max-width:400px" enabled="true" mdt="mot" />
      </div>
    </div>
  </div>
</template>

<script>
import EventCard from './EventCard'
import EventCardDej from './EventCardDej'
export default {
  name: 'Events',
  components: { EventCard, EventCardDej },
  computed: {
    config () {
      return this.$store.state.config
    }
  }
}
</script>
