<template>
  <div class="card">
    <div class="card-image">
      <figure class="image is-4by3">
        <img
         :src="require('@/assets/img/lasagne.jpeg')"
         alt="Placeholder image"
        />
      </figure>
    </div>
    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <figure class="image is-48x48">
            <img  :src="require('@/assets/img/lasagne.png')" alt="Placeholder image" />
          </figure>
        </div>
        <div class="media-content">
          <p class="title is-3">Lasagne party ?</p>
        </div>
      </div>
      <div class="content">
        Vous l'avez loupé ? Les lasagnes reviennent lundi prochain.
      </div>

      <b-button
        tag="router-link"
        :to="{ path: '/order/lasagne' }"
        label="Commander une lasagne"
        type="is-primary is-hidden"
        size="is-medium"
        v-if="enabled"
      />
    </div>
  </div>
</template>

<style scoped>
.card {
  border-radius: 25px;
}
</style>

<script>
export default {
  props: ['enabled']
}
</script>
