<template>
  <div class="card">
    <div class="card-image">
      <figure class="image is-4by3">
        <img
          :src="require('@/assets/img/petit-dej.jpg')"
          alt="Placeholder image"
        />
      </figure>
    </div>
    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <figure class="image is-48x48">
            <img
              :src="require('@/assets/img/croissant.webp')"
              alt="Placeholder image"
            />
          </figure>
        </div>
        <div class="media-content">
          <p class="title is-3">Petit déjeuner ?</p>
        </div>
      </div>
      <div class="content">
        <p>
          C'était jeudi 18 fév 2021. <br />
          On espère que ça vous a plu ;)
        </p>
      </div>
    </div>
  </div>
</template>

<style scoped>
.card {
  border-radius: 25px;
}
</style>

<script>
export default {
  props: ['enabled']
}
</script>
