<template>
  <div class="is-flex is-justify-content-center">
    <img
      class="image box p-0"
      src="https://create.adobe.com/2016/12/13/drama_danger_mystery_and_photoshop/jcr:content/previewImage.img.jpg/1481656307103.jpg"
    />
  </div>
</template>

<script>
export default {}
</script>

<style lang="scss">
$color: red;
</style>
