<template>
  <div>
    <section class="section">
      <div class="">
        <h2 class="title is-2"><a id="wall"></a>Hall of fame</h2>
        <div class="container">
          <div class="">
            <article
              class="media"
              v-for="(item, index) in itemSliced"
              :key="index"
            >
              <div class="media-left">
                <strong class="tag is-info is-size-4">#{{ item.count }}</strong>
              </div>
              <div class="media-content has-text-left">
                <div class="content">
                  <p class="my-0">
                    <span class="title is-4 my-0"> {{ item.title }}</span> -
                    <span>{{ item.username }}</span>
                  </p>
                  <p class="pMax">
                    {{ item.text }}
                  </p>
                </div>
              </div>
              <div class="media-right">
                <o-button variant="info" @click="add(item.id)">VOTER</o-button>
              </div>
            </article>
          </div>
        </div>
      </div>
      <nav class="level pt-4">
        <div class="level-item has-text-centered">
          <o-button @click="showLess = false" class="is-small">
            <strong>Afficher plus</strong>
          </o-button>
        </div>
      </nav>
    </section>
    <section class="">
      <nav class="level pt-4">
        <div class="level-item has-text-centered">
          <o-button
            @click="isCardModalActive = true"
            variant="info"
            class="is-medium"
          >
            <strong>J'ai un scoop</strong>
          </o-button>
        </div>
      </nav>

      <o-modal v-model:active="isCardModalActive">
        <div class="modal-card" style="width: auto">
          <header class="modal-card-head">
            <p class="modal-card-title">Mon scoop</p>
            <o-icon
              clickable
              native-type="button"
              icon="times"
              @click="$emit('close')"
            />
          </header>
          <section class="modal-card-body">
            <o-field label="Titre">
              <o-input
                type="text"
                v-model="report.title"
                placeholder="titre"
                required
              >
              </o-input>
            </o-field>

            <o-field label="Le scoop">
              <o-input
                v-model="report.text"
                type="textarea"
                placeholder="Hehe"
                required
              >
              </o-input>
            </o-field>
            <o-field label="Ton nom">
              <o-input
                type="text"
                v-model="report.username"
                placeholder="le reporter"
                required
              >
              </o-input>
            </o-field>
          </section>
          <footer class="modal-card-foot">
            <o-button variant="" @click="isCardModalActive = false"
              >Annuler</o-button
            >
            <o-button variant="success" @click="send()">Envoyer</o-button>
          </footer>
        </div>
      </o-modal>
    </section>
  </div>
</template>

<script>
export default {
  data() {
    return {
      items: [],
      report: {
        title: "",
        text: "",
        username: "",
      },
      showLess: true,
      isCardModalActive: false,
    };
  },
  computed: {
    itemSliced: function () {
      if (this.showLess) {
        return this.items.slice(0, 5);
      } else {
        return this.items;
      }
    },
  },
  components: {},
  methods: {
    send() {
      this.isCardModalActive = false;
      fetch("https://minesterydemo.henri2h.fr/api/wall", {
        method: "POST",
        headers: {
          Accept: "application/json",
          "Content-Type": "application/json",
        },
        body: JSON.stringify(this.report),
      })
        .then((response) => {
          return response.json();
        })
        .then((response) => {
          if (response.success) {
            this.report = {};
            this.load();
          } else {
            this.$oruga.notification.open({
              duration: 5000,
              message: response.err,
              position: "bottom-right",
              variant: "danger",
              hasIcon: true,
            });
          }
        })
        .catch((error) => {
          console.error(error);
        });
    },
    load() {
      fetch("https://minesterydemo.henri2h.fr/api/wall", {
        method: "GET",
        headers: {},
      })
        .then((response) => {
          return response.json();
        })
        .then((result) => {
          if (result.items.length > 0) {
            this.items = result.items;
          }
        })
        .catch((err) => {
          console.error(err);
        });
    },
    sortItems() {
      this.items.sort(function (a, b) {
        return b.count - a.count;
      });
    },
    add(id) {
      fetch("https://minesterydemo.henri2h.fr/api/wall/" + id, {
        method: "PUT",
        headers: {},
      })
        .then((response) => {
          return response.json();
        })
        .then((response) => {
          if (response.success) {
            for (let index = 0; index < this.items.length; index++) {
              const element = this.items[index];

              if (element.id == id) {
                element.count += 1;
                this.items[index] = element;

                this.sortItems();
                return;
              }
            }
          } else {
            console.log("error");

            this.$oruga.notification.open({
              duration: 5000,
              message: response.err,
              position: "bottom-right",
              variant: "danger",
              hasIcon: true,
            });
          }
        })
        .catch((err) => {
          console.error(err);
        });
    },
  },
  mounted() {
    this.load();
  },
};
</script>

<style>
.pMax {
  max-height: 160px;
  overflow: hidden;
}
</style>
