<template>
  <nav class="navbar" spaced transparent>
    <div class="navbar-brand">
      <div class="navbar-item" tag="router-link" :to="{ path: '/' }">
        <o-button
          tag="router-link"
          to="/"
          variant="info"
          class="is-medium"
        >
          <span class="icon is-large">
            <img class="image" :src="require('@/assets/logo.png')" />
          </span>

          <strong>Mines N Collect</strong>
        </o-button>
      </div>
    </div>
  </nav>
</template>

<style scoped>
.navbar-item img {
  max-height: 2.75rem;
}
</style>

<script>
export default {
  computed: {
    config() {
      return this.$store.state.config;
    },
  },
};
</script>
