<template>
  <div>
    <div v-for="(element, index) in news" v-bind:key="index" class="box">
      <article class="media">
        <div class="media-left">
          <figure class="image is-64x64">
            <img v-if="element.url != ''" :src="element.url" alt="Image" />
            <img
              v-else
              src="https://bulma.io/images/placeholders/128x128.png"
              alt="Image"
            />
          </figure>
        </div>
        <div class="media-content">
          <div class="content">
            <p>
              <strong>{{ element.sender_displayName }}</strong>
              <small class="px-1">{{ element.sender }} </small>
              <small>{{ getDate(element.time) }}</small>
            </p>
            <p v-if="element.type == 'm.text'">
              {{ element.content }}
            </p>
            <div v-if="element.type == 'm.image'">
              <img class="limit" :src="element.img_url" />
            </div>
          </div>
        </div>
      </article>
    </div>
  </div>
</template>

<script>
const moment = require('moment')

export default {
  data () {
    return {
      news: []
    }
  },
  mounted () {
    fetch('https://minesterydemo.henri2h.fr/bot', {
      method: 'GET',
      headers: {}
    })
      .then(response => {
        return response.json()
      })
      .then(result => {
        console.log(result)

        if (result.length > 0) this.news = result.reverse()
      })
      .catch(err => {
        console.error(err)
      })
  },
  methods: {
    getDate (date) {
      return moment(date).fromNow()
    }
  }
}
</script>

<style scoped>
img.limit {
  max-width: 600px;
}
</style>
