<template>
  <div>
    <div class="box has-background-black is-hidden-mobile big">
      <div class="p-5">
        <figure class="image ">
          <img src="~@/assets/logo.png" />
        </figure>
      </div>
    </div>

    <div class="box has-background-black is-hidden-tablet">
      <div class="p-5">
        <figure class="image ">
          <img src="~@/assets/logo.png" />
        </figure>
      </div>
    </div>
  </div>
</template>

<style scoped>
.box {
  border-radius: 25px;
  margin: auto;
}
.image img {
  height: auto;
}

.big {
  width: 30rem;
}
</style>
