<template>
  <div class="">
    <div class="box columns is-vcentered m-0 p-0 is-mobile has-background-black">
      <div class="column p-5">
        <figure class="image">
          <img src="~@/assets/logo.png" />
        </figure>
      </div>
      <div class="column text-column make-me-blue has-text-black p-0 m-0">
        <div class="content child is-vcentered">
          <h2 class="m-0">We are the best</h2>
          <h3 class="m-0">BDE</h3>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>
.box {
  border-radius: 25px;
  height: 10rem;
}

.text-column {
  height: 10rem;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  position: relative;
}

div.child {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.image img {
  height: auto;
  width: auto;
}

.make-me-blue {
  background-color: #1616ff;
}

.content h2,
.content h3 {
  color: white;
}
.content h2 {
  font-size: 2rem;
}
.content h3 {
  font-size: 1.7rem;
}
</style>
