<template>
  <div>
    <section class="section">
      <div class="">
        <h2 class="title is-2"><a id="equipe"></a>L'équipe MinesNCollect</h2>
        <div class="container">
          <div
            class="pt-5"
            v-for="(team_section, index_section) in equippe"
            :key="index_section"
          >
            <div class="columns is-centered">
              <div
                class="column"
                v-for="(team_member, index) in team_section"
                :key="index"
              >
                <Account
                  :name="team_member.name"
                  :img="team_member.img"
                  :titre="team_member.desc"
                  :message="team_member.message"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import Account from "./Helpers/AccountWidget";
export default {
  data() {
    return {
      equippe: [
        [
          {
            name: "JB",
            img: require("@/assets/photos_indiv2/jb.jpg"),
            desc: "Respo DDos",
            message: "Tout en finesse",
          },

          {
            name: "Henri",
            img: require("@/assets/photos_indiv2/henri.png"),
            desc: "Respo collecte",
            message: "voyons voir...",
          },
          {
            name: "Lewish",
            img: require("@/assets/photos_indiv2/lewish.jpg"),
            desc: "Respo Axel",
            message: "Vous connaissez pas Axel ? bah c'est mon colloc",
          },
        ],
        [
          {
            name: "Enzo",
            img: require("@/assets/photos_indiv2/enzo.jpg"),
            desc: "Respo degré alcool",
            message: "La légende raconte qu'il est né sobre",
          },
          {
            name: "LP",
            img: require("@/assets/photos_indiv2/lp.jpg"),
            desc: "Respo faire tomber la chemise",
            message: "Sus aux anglois",
          },
          {
            name: "Giulio",
            img: require("@/assets/photos_indiv2/jules.jpg"),
            desc: "Respo Parisienne",
            message: "Paye 15€ sa pinte de bière",
          },
        ],
        [
          {
            name: "Julien",
            img: require("@/assets/photos_indiv2/julien.jpg"),
            desc: "Respo flemme",
            message: "Comptez sur lui pour ne rien faire",
          },
          {
            name: "Duf'duf'",
            img: require("@/assets/photos_indiv2/matthieu.jpg"),
            desc: "Respo cuite",
            message: "Ptite bière ?",
          },
          {
            name: "Loup",
            img: require("@/assets/photos_indiv2/loup.jpg"),
            desc: "Respo prison",
            message: "Votre futur geôlier",
          },
        ],
        [
          {
            name: "Vincent",
            img: require("@/assets/photos_indiv2/vincent.jpg"),
            desc: "Respo bare à mine",
            message: "Gnnneeeeeeeeeeeee",
          },
          {
            name: "Alice",
            img: require("@/assets/photos_indiv2/alice.jpg"),
            desc: "Respo loulou",
            message: "Attention ça glisse !",
          },
          {
            name: "Charles",
            img: require("@/assets/photos_indiv2/charles.jpg"),
            desc: "Respo tu sais qui",
            message: "Personne n'ose prononcer son nom",
          },
        ],
        [
          {
            name: "Pôle",
            img: require("@/assets/photos_indiv2/paul.jpg"),
            desc: "Respo honnêteté",
            message: "Je raconte pas de salade, je les MANGE...",
          },

          {
            name: "Marie",
            img: require("@/assets/photos_indiv2/marie.jpg"),
            desc: "Respo chaleur",
            message: "Ça caille non ? 🥶",
          },
          {
            name: "Louis",
            img: require("@/assets/photos_indiv2/louis.jpg"),
            desc: "Respo buche",
            message: "Biere qui coule n'amasse pas mousse",
          },
        ],
        [
          {
            name: "Maxence",
            img: require("@/assets/photos_indiv2/maxence.jpg"),
            desc: "Respo pelluche",
            message: "Là... je suis bien",
          },
          {
            name: "Olivier",
            img: require("@/assets/photos_indiv2/olivier.png"),
            desc: "Respo plat",
            message: "Je crois que je me suis mangé un mur ...",
          },
          {
            name: "Axel",
            img: require("@/assets/photos_indiv2/axel.jpg"),
            desc: "Respo bonne hummeur",
            message: "Répète un peu pour voir ?",
          },
        ],
        [
          {
            name: "Margaux",
            img: require("@/assets/photos_indiv2/margaux.jpg"),
            desc: "Respo boite",
            message: "Mais... qu'est ce que je fais là ?",
          },
        ],
      ],
    };
  },
  components: { Account },
};
</script>

<style></style>
