<template>
  <div class="section has-background-black is-medium" v-if="visible">
    <h2 class="title">L'événement surprise commence dans</h2>
    <section class="section">
      <nav class="level">
        <div class="level-item has-text-centered">
          <div>
            <p class="title">{{ date.getDate() - 1 }}</p>
            <p class="heading">jours</p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="title">{{ date.getHours() - 1 }}</p>
            <p class="heading">heures</p>
          </div>
        </div>

        <div class="level-item has-text-centered">
          <div>
            <p class="title">{{ date.getMinutes() }}</p>
            <p class="heading">minutes</p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="title">{{ date.getSeconds() }}</p>
            <p class="heading">secondes</p>
          </div>
        </div>
      </nav>
      <!--
      {{ maxDate.getTime() }}
      <b-field label="Select datetime">
        <b-datetimepicker
          placeholder="Click to select..."
          v-model="maxDate"
          locale="fr-FR"
        >
        </b-datetimepicker>

      </b-field>
      -->
    </section>
  </div>
  <div class="section has-background-black is-medium" v-else>
    <h2 class="title">Le MINESTERY LAND à démarré</h2>
  </div>
</template>

<script>
export default {
  data () {
    return {
      maxDate: new Date(1614250800000),
      date: new Date(this.maxDate - new Date())
    }
  },
  computed: {
    visible () {
      return new Date().getTime() < this.maxDate
    }
  },
  mounted () {
    setInterval(() => {
      this.date = new Date(this.maxDate - new Date())
    }, 1000)
  }
}
</script>

<style scoped>
.heading {
  font-size: 2rem;
  color: white;
}

.title {
  font-size: 4rem;
  color: white;
}
</style>
