<template>
  <div id="app">
    <NavbarItem />
    <router-view />
    <footer class="footer">
      <div class="content has-text-centered">
        <p>
          <strong>Mines N Collect</strong> par vos 2A préférés.
        </p>
      </div>
    </footer>
  </div>
</template>

<script>
import NavbarItem from "@/components/NavbarItem";
export default {
  components: { NavbarItem },

  computed: {
    route() {
      return this.$route;
    },
  },
  mounted() {
    this.$store.dispatch("loadData");
  },
};
</script>

<style>
#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}

h1.title {
  font-size: 6vw;
  color: white;
  font-family: "Courier New", Courier, monospace;
}
h2.subtitle {
  font-size: 5rem;
  color: white;

  font-family: "Courier New", Courier, monospace;
}
</style>
